/** fonts **/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');

/**Common rules**/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
*::after {
    box-sizing: inherit;
}
*::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.color1 {
    color: #0065FC;
}
.color2 {
    color: #DEEBFF;
}
.color3{
    color: #F2F2F2;
}
/** header **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    padding: 0 50px;
}

.logo {
    height: 4rem;
    margin-left: 10px;
}

.logo>img{
    height: 100%;
}

nav>ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav>ul>li {
    padding: 2rem;
    border-top: 2px solid transparent;
}
nav>ul>li.active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
nav>ul>li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
/** Search **/

.search {
    max-width: 1440px;
    margin: 2rem auto;
    padding: 0 50px;
}
.search>h1{
    margin: auto auto .5rem auto;
}
.search>p {
    margin: .5rem 0 2rem 0;
}
.search__bloc {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
}

.search__iconWrap{
    background-color: #F2F2F2;
    height: 54px;
    width: 54px;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__field {
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 700;
    padding:1rem;
}
.search__field::placeholder {
    color: #000;
}
.search__btn{
    background-color: #0065FC;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    border: 1px solid #0065FC;
    cursor: pointer;
}
.search__btn a {
    font-family: FontAwesome;
    
}

.search__btn span {
    color: white;
}
.search__btn i {
    display: none;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.filters__heading {
    margin-right: 1rem;
}
.filtersBloc {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    border: 2px solid #F2F2F2;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
    transition: .5s;
    cursor: pointer;
    z-index: 0;
    position: relative;
    height: 3rem;
}
.filtersBloc:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    transform: scale(1.03);
}

.filtersBloc__iconWrap {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 2rem;
    color: #0065FC;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left:-2px;
}

.filtersBloc__text {
    margin: 0 1rem 0 50px;
}

.searchResults {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin-top: 1rem;  
}
.searchResults__iconWrap {
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchResults__text {
    padding-left: .5rem;
}
/** Hosting **/

/** Main Hosting section **/
.hosting {
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.hostingMain {
    background-color: #F2F2F2;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:2;
    padding: 1.5rem;
}

.hostingMain__heading {
    width: 100%;
    padding: 1rem;
    margin:0;
}

.hostingMain__card {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 5px;
    box-shadow: 0 0 1rem #979797;
    margin: 1rem;
    width: calc(33% - 32px);
    transition: 0.3s;
}
.hostingMain__card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2rem #979797;
}

.hostingMain__card img{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;

}
.showMore {
    width: 100%;
    margin-left: 2rem;
}

/** Popular section **/

.hostingPopular {
    background-color: #F2F2F2;
    border-radius: 2rem;
    margin-left : 40px;
    padding : 40px;
    flex:1;
    display: flex;
    flex-direction: column;
}

.hostingPopular__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.hostingPopular__card {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 5px;
    box-shadow: 0 0 1rem #979797;
    margin-top: 2rem;
    transition: .3s;
}
.hostingPopular__card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2rem #979797;
}
.hostingPopular__card a {
    display: flex;
    flex-direction: row;
}

.hostingPopular__card--imgWrap {
    object-fit: cover;
    height: 8rem;
    flex:1;
}

.hostingPopular__card--imgWrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.hostingPopular__card--description {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hosting h3{
    margin: 5px 5px; 
    font-size: 1.1rem;
}
.hosting p{
    margin: 5px 5px; 
}
/** Activities **/

.activities {
    max-width: 1440px;
    margin:auto;
    padding: 0 50px;
}
.activities__flexTemplate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 28rem;
    justify-content: space-between;
}
.activities__card {
    width: calc(25% - 24px);
    height: 13rem;
    box-shadow: 0 0 1rem #979797;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: .3s;
}
.activities__card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 2rem #979797;
}
.activities__card img {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}


@media screen and (min-width: 992px){

    .activities__card:nth-child(1) {
        height: 28rem;
    }
    .activities__card:nth-child(2) {
        height: 16rem;
        margin: 0 0 2rem 2rem;
    }
    .activities__card:nth-child(3) {
        height: 10rem;
        margin: 0 0 0 2rem;
    }
    .activities__card:nth-child(4) {
        height: 28rem;
        margin-left: 2rem;
    }
    .activities__card:nth-child(5) {
        height: 12rem;
        margin: 0 0 2rem 2rem;
    }
    .activities__card:nth-child(6) {
        height: 14rem;
        margin: 0 0 0 2rem;
    }
}
.activities__card--title {
    height: 4rem;
}
.activities__card--title>h3 {
    padding: 1rem;
    margin: 0;
}

/** Footer **/

footer {
    margin-top: 4rem;
    background-color: #F2F2F2;
   
}

footer ul {
    padding:0;
}

.footerWrap {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
}

.footerWrap>* {
    flex:1;
}

/* Medias queries */
@media screen and (max-width: 992px) {
    .hostingMain__card {
        width: calc(50% - 32px);
    }
    .activities__card {
        width: calc(33% - 32px);
    }

}
@media screen and (max-width: 768px) {
    /*header*/  
    header {
        padding: 0;
    }
    .logo{
        width:100%;
        display: flex;
        justify-content: center;
    } 
    nav{
        width: 100%;
        display: flex;
    }
    nav>ul{
        flex:1;
    }
    nav>ul>li {
        border-bottom: 2px solid #F2F2F2;
        color: #000;
        width: 50%;
        text-align: center;
        padding: 1rem;
    }
    nav>ul>li.active {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
        color: #0065FC;
    }
    /*search*/
    .search {
        padding: 1rem;
        margin: 0 auto;
    }
    .search__btn {
        border-radius: 1rem;
    }
    .search__btn span {
        display: none;
    }
    .search__btn i {
        font-family: FontAwesome;
        color: white;
        display: contents;
    }
    .filters__heading{
        width: 100%;
    }
    .filtersBloc {
        margin: 5px 5px 5px 0;
    }
    /*hosting*/
    .hosting {
        flex-direction: column;
        padding: 0;
    }
    .hostingMain {
        order:2;
        border-radius: 0;
        background-color: #fff;
        width: 100%;
        padding: 1rem;
    }
    .hostingPopular{
        border-radius: 0;
        margin: 0;
        width: 100%;
    }
    .hostingMain__card {
        width: 100%;
    }
    /* Activities */
    .activities {
        padding : 2rem;
    }
    .activities__flexTemplate {
        height: auto;
    }
    .activities__card {
        margin-top: 2rem;
        width: 100%;
    }

    /* Footer */
    .footerWrap {
        flex-direction: column;
        padding: 0 1rem;
    }
}